<h1><%= title %></h1>
<p>
  Welcome to <em>Computer Shop</em>, you can buy here computer accessories, hardware and software
</p>
<h2>Dynamic content</h2>
<p>The Computer Shop has the following record counts:</p>
<ul>
  <li><strong>Items:</strong><em> <%= item_count %></em></li>
  <li><strong>Categories:</strong><em> <%= category_count %></em></li>
</ul>
