<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Welcome to <em>LocalLibrary</em>, a very basic Express website developed
      as a tutorial example on the Mozilla Developer Network.
    </p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
      <li><strong>Items:</strong><em> <%= item_count %></em></li>
      <li><strong>Categories:</strong><em> <%= category_count %></em></li>
    </ul>
  </body>
</html>
